<nav class="sidebar">
  <div class="book-sidebar">
    <img src="https://www.morrisonhotelgallery.com/images/medium/CloseUpWithHat.jpg" class="tiny-logo">
    <a href='/books'><h2 class='rotate'>Books</h2></a>
  </div>
  <div class="author-sidebar">
    <img src="http://whytoread.com/wp-content/uploads/2015/03/best-books-book-youll-ever-read.jpg" class="tiny-logo">
    <a href='/authors'><h2 class='rotate'>Authors</h2></a>
  </div>
</nav>

<form method='post' action='/books/new' class='form-container'>
  <h1>Create a new Book entry</h1>

  <label>Book Title</label><br><input type='text' placeholder='Book Title'></input><br><br>
  <label>Genre</label><br><input type='text' placeholder='Genre'></input><br><br>
  <label>Description</label><br><textarea placeholder='Description'></textarea><br><br>
  <label>URL of the book image</label><br><input type='text' placeholder='URL'></input><br><br>
  <input type='submit'></input>


</form>
