<div class="landing-page">
  <div class="book-container">
    <img src="http://whytoread.com/wp-content/uploads/2015/03/best-books-book-youll-ever-read.jpg" class="book-logo">
    <p><a href="/books">Books</a></p>
  </div>

  <div class="author-container">
    <img src="https://www.morrisonhotelgallery.com/images/medium/CloseUpWithHat.jpg" class="author-logo">
    <p><a href="/authors">Authors</a></p>
  </div>
</div>
