<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
    <img src="http://static1.squarespace.com/static/55a67d43e4b0b6f2d1158e31/56462eefe4b0f14b0041ec2c/56462f93e4b029db3f122da5/1447441415307/Galvanize-Logo-Text-Logo-.png" class="logo">
      <p>Galvanize Reads</p>
    </header>
    {{{body}}}
  </body>
</html>
